.sampul {
    background: linear-gradient(rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7)),
        url(image/1246578.jpg);
    background-size: cover;
    box-shadow: 0 2px 10px gray;
    color: white;
}

.profile {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.profile button {
    padding: 15px;
    height: 10%;
    margin-top: 7%;
    margin-left: 5%;
}

.profile img {
    width: 10rem;
    height: 10rem;
    border-radius: 100%;
    box-shadow: 5px 5px 10px gray;
}

.formProfile {
    width: 100%;
}

@media screen and (min-width: 786px) {
    .formProfile {
        width: 50%;
    }
}

@media screen and (min-width: 673px) {
    .content {
        height: 50vh;
    }
}